@import url(https://fonts.googleapis.com/css?family=Caveat+Brush);
@import url(https://fonts.googleapis.com/css?family=Wire+One);
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.clearfix {
  *zoom: 1;
}
body,html{
    width: 100%;
    height: 100%;
    
}





.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.navbar-inverse {
    border: none;
}
.wet-asphalt {
    background-color: #34495e;
    height: 70px;
}
.navbar-inverse .navbar-nav {
    margin-top: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    color: #293348;
}
.wet-asphalt a:not(.btn) {
    color: #bdc3c7;
}

}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #293348;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

h1{
    color: #19deb1;
font-family: 'Tangerine', cursive;
font-size: 7em;
padding-top:8%;

}
#present{
    background-image: url("../images/hack.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed; 
}

.subtitulo{
    color: white;
    font-family: 'Wire One', sans-serif;
    color: grey;
    font-size: 2em;
}

.darken{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 7);
    opacity: 0.9;
}
.centro{
  padding-top: 6%;
}

.btn{
  border: 1px solid #19deb1;
  margin-top: 2rem;
}
.btn:hover{
    color: #19deb1;
}

a:hover, a:focus {
    color:#19deb1;
    text-decoration: underline;
}

a{
    color: white;
    font-family: 'Pathway Gothic One', sans-serif;
    padding:0 5px;
    font-size: 2em;

}

h2{
    font-family: 'Wire One', sans-serif;
    font-size: 5em;
    color: #19deb1;
    text-align: center;
}  
nav{
      padding-top: 0%;
}
.fa-chevron-down{
    padding-top: 15%;
}

/************** sobre mi **************/
#sobre-mi{
border: 3px dashed #19deb1; 
background: white;
font-family: 'Wire One', sans-serif;
height: 100vh;
margin:2%;
background-attachment: fixed;
}
.circle{
  height: 100%;
  width: 100%;
  border-radius: 20%;
  background-image: url("../images/ruth.jpg");
  background-attachment: fixed;
}

.grafico{
        text-align: center;
    height: 300px;
    width: 20%;


}
.parrafo-about{
    line-height: 30px;
    font-family: 'Poiret One', cursive;
    color: grey;
    font-size: 1.4em;
    letter-spacing: 2px;
    background-color: white;
}
.ruth{
    height: 50rem;
    width: 100%;
    box-shadow: 8;
}


/*******************habilidades********************/

section#habilidades{
   height: 300px;
    background: url("../images/pos-it.jpg");
    background-attachment: fixed;
    background-size: cover;
     color: white;
     text-align: center;
     font-family: 'Poiret One', cursive;
     
}
.progress-bar{
    height: 100px;
}

/**************** Proyectos ******************/
#proyectos{
    border: 3px dashed #19deb1; 
background: white;
margin:2%;
}
@media (min-width: 800px){
    #proyectos{
        height: 80vh;
    }
}
.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
    text-decoration: none;
}

.galeria img {
    width: 280px;
    height: 220px;
        margin: 20px 0px;
}


/************************/
h3{
    font-family: 'Poiret One', cursive;
}
.zoom{
transition: 1.5s ease;
-moz-transition: 1.5s ease; /* Firefox */
-webkit-transition: 1.5s ease; /* Chrome - Safari */
-o-transition: 1.5s ease; /* Opera */
}
.zoom:hover{
transform : scale(1.3);
-moz-transform : scale(1.3); /* Firefox */
-webkit-transform : scale(1.3); /* Chrome - Safari */
-o-transform : scale(1.3); /* Opera */
-ms-transform : scale(1.3); /* IE9 */
}
/********* CONTACTOS **********/
#submit_button{
    padding: 10px;
    margin: 18px 44px;
    color: #DE5714;
}

#contactos {
    background: url("../images/escritorio.jpg")center;
    height: 100vh;
    background-size: cover;
    color: white;
    line-height: 2;
    background-attachment: fixed;

}
.color{
    color: orange;
    font-size: 2em;
}

.lab{
    color: orange;
    font-size: 1em;
    font-family: 'Poiret One', cursive;
}
h5{
    padding: 5px;
    background-color: #232222;
    width: 14%;
    margin: auto;
}
hr{
    width: 45%;
}

.icon-redes{
    padding: 10px;
    border-radius: 34px;
    background-color: white;
}

.screen{
  width:350px;
    height:250px; 

}

.demo-3 {
    position:relative;
    width:350px;
    height:250px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h3 {
    font-family:'Lato';
    color: #19deb1;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family: 'Poiret One', cursive;
    line-height:18px;
    margin:0;
    color: white;
    text-align:left
}
.proyect-text{
    font-size: 1.4em;
}

.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color: #19deb1;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}
